body {
  background-image: url("../assets/images/SNES.jpg");
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  margin: auto;
  width: 60%;
  height: 80%;
  border: 3px dotted rgb(175, 24, 24);
  padding: 10px;
  text-align: center;
  margin-top: 25px;
  line-height: 2;
  color: rgb(240, 233, 233);
}

.container-fluid-overall {
  margin: auto;
  border: 3px solid #73AD21;
  padding: 10px;
}

h1 {
  
  color: rgb(175, 24, 24);
}

#instructions {
  margin: 20px;
}

#kanky {
  width: 500px;
  height: 300px;
  position: 
}